In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv("../data/cpi_data.csv").fillna(0)

In [11]:
file2 = pd.read_csv("../data/minimumWage.csv").fillna(0)

In [12]:
df2 = file2.rename(columns={"DATE":"Date","FEDMINNFRWG":"FedMinWage"})
df2

           Date  FedMinWage
0    1938-10-01        0.25
1    1938-11-01        0.25
2    1938-12-01        0.25
3    1939-01-01        0.25
4    1939-02-01        0.25
..          ...         ...
977  2020-03-01        7.25
978  2020-04-01        7.25
979  2020-05-01        7.25
980  2020-06-01        7.25
981  2020-07-01        7.25

[982 rows x 2 columns]

In [13]:
df = df.rename(columns ={"DATE":"Date"})

In [14]:
final_df = pd.merge(df,df2, how="left", on = "Date").fillna(0)

In [34]:
final_df

            Date    Index  Inflation  FedMinWage
0     1913-01-01    9.800       0.00        0.00
1     1913-02-01    9.800       0.00        0.00
2     1913-03-01    9.800       0.00        0.00
3     1913-04-01    9.800       0.00        0.00
4     1913-05-01    9.700      -1.02        0.00
...          ...      ...        ...         ...
1208  2013-09-01  234.149       0.12        7.25
1209  2013-10-01  233.546      -0.26        7.25
1210  2013-11-01  233.069      -0.20        7.25
1211  2013-12-01  233.049      -0.01        7.25
1212  2014-01-01  233.916       0.37        7.25

[1213 rows x 4 columns]

In [35]:
final_df.to_csv("IndFlaMin.csv")